.row {
	height: 90vh;
}
.map {
	min-height: 100px;
	height: 100%;
}

.text-list {
	color: #72a72f;
	font-weight: bold;
}

.infotext {
	color: black;
}

body {
	background-color: #737273;
	color:#fff;
	padding: 10px
}

header, footer {
	height: 5vh;
}


a {
	color: #72a72f;
}